<nav class="sb-topnav navbar navbar-expand c-nav-bottom-border">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" href="index.html"><img src="../../../assets/img/logo/logo.png"
      class="logo-height-weight"></a>
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" (click)="toggleSideNav()"><i
      class="fas fa-bars"></i></button>

  <!-- Navbar Search-->
  <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 border border-secondary rounded">
        <div class="row">
          <div class="col-md-3">
            <img id="profilePicID" class="img-fluid border border-dark rounded-circle me-1 profile-pic" alt="Profile Pic">
          </div>
          <div class="col-md-7">
            <span *ngIf="user|async as userInfo">
              <span><b class="font-13">{{userInfo.userFullName}}</b></span><br />
              <span class="font-10">{{userInfo.userRoleName}}</span>
            </span>
          </div>
          <div class="col-md-1">
            <div class="height-100">
              <ul class="navbar-nav me-5">
                <li class="nav-item dropdown">
                  <a id="navbarDropdown" data-bs-toggle="dropdown" class="arrow-down m-l-5" role="button" href="#"
                    aria-expanded="false"><i class="fa fa-angle-down arrow-down-margin"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="onLogOut($event)">Log out</a>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>