<nav class="sb-sidenav accordion sb-sidenav-dark sideNav-bg"  id="sidenavAccordion">
    
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div *ngFor="let module of (modules| async);let im=index ">
                <div class="p-0" *ngFor="let item of module.menus;let imn=index">
                    <a class="nav-link" routerLink="{{item.menuPath}}" 
                    (click)="onModuleClick($event,module,item)" 
                    *ngIf="item.menuList?.length==0" >
                        <div class="sb-nav-link-icon"><i class="{{item.menuIcon}}"></i></div>
                        {{item.menuName}}
                    </a>
                    <div *ngIf="item.menuList?.length!==0" >
                        <a class="nav-link collapsed" routerLink="{{item.menuPath}}" (click)="onModuleClick($event,module,item)"
                            data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                            aria-controls="pagesCollapseAuth">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            {{item.menuName}}
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <li *ngFor="let itemChild of (item.menuList?item.menuList:[]);let ic=index ">
                                    <a class="nav-link" routerLink="{{itemChild.menuPath}}" (click)="onMenuClick($event,module,itemChild)"><i
                                            class="{{itemChild.menuIcon}}"></i>&nbsp;{{itemChild.menuName}}</a>
                                </li>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>