
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">Please provide your account's email address:</div>
        <div class="col-md-8">
            <input type="text" placeholder="Email" [(ngModel)]="email" id="txtEmail" class="form-control" >
        </div>
        <div class="col-md-2">
            <button class="btn btn-sm btn-primary font-size-11px"  (click)="sendEmail()">
                Send
            </button>
        </div>    
        <div class="col-md-2">
            <a routerLink="../login" class="btn btn-sm btn-warning pull-right font-size-11px"><i class="fa fa-reply"></i>Back</a>
        </div>    
        <div class="col-md-12">
            Change Password link will be sent to your provided email.
        </div>
    </div>
    
    
</div>