<!-- <app-header></app-header>
<app-loading-spinner *ngIf="showLoading | async"></app-loading-spinner>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" *ngIf="errorMessage | async as error">{{error}}</div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<app-loading-spinner *ngIf="showLoading | async"></app-loading-spinner>
<div id="fixAdminNavToggle" *ngIf="(IsAuthenticated | async)" [ngClass]="{'sb-nav-fixed': !isToggled,'sb-nav-fixed sb-sidenav-toggled': isToggled }">
  <app-header></app-header>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <app-side-nav></app-side-nav>
    </div>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4 mt-3">
          <div class="alert alert-danger" *ngIf="errorMessage | async as error">{{error}}</div>
          <router-outlet></router-outlet>
        </div>
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div *ngIf="!(IsAuthenticated | async)">
  <router-outlet></router-outlet>
</div>