<div class="col-md-8 offset-md-2 mb-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <form [formGroup]="changePassform" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <input type="password" formControlName="password" placeholder="Password" class="form-control" />
                    <div class="text-danger">
                        {{showPasswordValidtionError()}}
                    </div>
                </div>
                <div class="mb-3">
                    <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                        class="form-control" />
                    <div class="text-danger">
                        {{showConfirmPasswordValidtionError()}}
                        {{checkPasswordValidity()}}
                    </div>
                </div>
                <div class="mb-3">
                    <button [disabled]="!changePassform.valid"
                        class="btn btn-sm btn-primary login-btn-color form-control">
                        Change
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>